<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container" ng-app="">
	<div class="row">
		<div class="col-12" ng-init="list=[1,2,3,'a','b','c']">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="item in list" ng-bind="item"></li>
			</ul>
			</br>
			<ul class="list-group" ng-init="list2={a:1,b:2,c:3,d:4}">
			<li class="list-group-item" ng-repeat="(key,val) in list2" ng-bind="key+':'+val">  				
			</li>
			</ul>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
</body>
</html>