<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angularjs</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<style type="text/css">
		[ng-cloak]{
			display: none!important;
		}
	</style>
</head>
<body>
	<div class="container" ng-app="app1">
		<div class="panel panel-default" ng-controller="todoCtrl">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="item in bigList">
					<h2 ng-bind="item" ng-click="showList($index)"></h2>
					<ul class="list-group" ng-show="curIndex === $index">
						
						<li class="list-group-item" ng-repeat="item in sublist2" ng-cloak ng-mouseenter="changeSubMenu($index)">
							<span class="glyphicon glyphicon-plus" ng-show="curSubIndex === $index"></span> {{item.title}} --- {{item.year + "-" + item.month}}
						</li>

					</ul>
					<a href="#" class="btn btn-primary" ng-click="test($event)">奇葩</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script>
		var app = angular.module('app1', []);
		app.controller("todoCtrl",["$scope","sublist",function($scope,sublist){
			$scope.bigList = ["魂牵梦萦","别茜奇葩","范德萨"];
			$scope.showList = function(index){
				// console.log(index);
				$scope.curIndex = index;
				$scope.sublist2 = [];
				//step 1
				sublist.getDataByBigid(index,function(data){
					//step 4
					console.log(data);
					// console.log("cb");
					$scope.sublist2 = data.result;
				},function(err){
					console.log(err);
				});
			}

			//鼠标移过二级菜单的li时的事件回调
			$scope.changeSubMenu = function(index){
				$scope.curSubIndex = index;
			}

			$scope.test = function(evt){
				console.log(evt);
			}
		}]);

		app.factory("sublist",function($http,$q){
			return {
				getDataByBigid:function(index,callback,fail){
					//step 2
					$http({
						method:"GET",
						params: { bigid: index },
						// data: { bigid: index },
						url:"json/historytoday.json"
					}).then(function(res){
						//res是返回的对象
						 console.log("res",res);
						// callback();
						// step 3
						callback(res.data);
					},function(err){
						fail(err);
						// console.log(err);
					})

				}
			}
		})
	</script>
</body>
</html>