<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/angular-1.4.7.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div ng-app="myApp">
	    <div ng-controller="CartController"><!-- 控制器 -->
	        <p>价格:<input type="number" ng-model="iphone.money"></p>
	        <p>个数:<input type="number" ng-model="iphone.num"></p>
	        <p>费用:<span>{{ sum() | currency:'￥' }}</span></p>
	        <p>运费:<span>{{iphone.fre | currency:'￥'}}</span></p>
	        <p>总额:<span>{{ sum() + iphone.fre | currency:'￥'}}</span></p>
	    </div>
	</div>
<script>
	var app=angular.module("myApp",[]);
	app.controller("CartController",function($scope){
		$scope.iphone={
			money:5,
			num:1,
			fre:10
		};
		$scope.sum=function(){
			return $scope.iphone.num*$scope.iphone.money;
		};
		// $scope.$watch();
		 $scope.$watch($scope.sum,function(newVal,oldVal){
            console.log("新值"+newVal);
            console.log(oldVal);

            $scope.iphone.fre = newVal >= 100 ? 0 : 10;

        });
	});	
</script>
</body>
</html>